@font-face {
  font-family: 'GBBoot';
  src: url('/fonts/GBBoot.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Retro Gaming';
  src: url('/fonts/RetroGaming.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}